@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body{overflow: hidden}
.temperature {font-size: 7.5vw;line-height: 1}
.location {font-size: 3.25vw;line-height: 1}
.detailsWrapper {text-shadow: 2px 2px 3px rgba(0,0,0,0.5)}
.active {font-weight: bold !important; color: #fff;}
@media (max-width: 640px) {
    body{overflow: auto;}
}
